{% import '_forms.html' as forms %}

{% macro show_posts(posts, deleteable) %}
  {% for post in posts %}
    <em>
      <a href="{{ url_for('profile', secondary_username=post.username) }}">{{ post.username }}</a>,
      <small>{{ post.timestamp }}</small>
    </em>

    {% if deleteable %}{{ forms.delete_post(post.timestamp) }}{% endif %}

    <h4>{{ post.text }}</h4>
    <hr>
  {% endfor %}
{% endmacro %}

{% macro show_users(usernames) %}
  {% if not usernames %}Literally <em>none</em>.{% endif %}

  {% for username in usernames %}
    <em>
      <a href="{{ url_for('profile', secondary_username=username) }}">{{ username }}</a>
    </em>
    <hr>
  {% endfor %}
{% endmacro %}
