{% extends '__base.html' %}
{% import '_utils.html' as utils %}
{% import '_forms.html' as forms %}

{% block title %}Profile{% endblock %}
{% include '_header.html' %}

{% block heading %}
  {% if secondary_username %}
    <em>
      {{ secondary_username }}
      {% if is_followed_by %}(follows you){% endif %}
    </em>

    {% if is_following %}
      {{ forms.unfollow(secondary_username) }}
    {% else %}
      {{ forms.follow(secondary_username) }}
    {% endif %}

  {% else %}
    <em>You!</em>

  {% endif %}
{% endblock %}

{% block content %}
  <hr><hr>
  {{ utils.show_posts(posts, deleteable=True) }}
{% endblock %}
